/* // Source - https://stackoverflow.com/questions/60365440/how-to-programmatically-use-bootstrap-icons-in-an-angular-project
// Posted by BBoom
// Retrieved 2025-11-06, License - CC BY-SA 4.0 */

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
